:root{
    --dark-theme:#333;
    --button-color: rgb(22, 21, 21);
    --text-color:#fff;
    --box-shadow:8px 8px 40px -19px #fff;
    --hover-box-shadow:8px 8px 50px -15px #fff;
    color:#fff;
}
body{
    background-color:var(--dark-theme);
    background-position: 10px 50px;
    text-align: center;
    color:var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    flex-wrap: wrap;

}
#quiz{  
    display: flex;
    height: 100%;
    width: 95%;
    min-width: 250px;
    min-height: 550px;
    flex-direction: column ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
button p{
    color: var(--text-color);
}
p {
    flex-grow: 3;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: default;
}
form {
    flex-grow: 1;
    min-height: 150px;
    height: 200px;
    width: 70%;
    font-size: 18px;
    text-align: left;
    box-shadow:var(--box-shadow) ;
    background-color: var(--button-color);
    border-radius: 3%;
    padding: 10px 20px;
}

button {
    flex-grow: 1;
    max-height: 100px;
    height: 80px;
    width: 45%;
    max-width: 300px;
    text-align: center;
    background-color:var(--button-color);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 2%;
    padding: 5px 5px 5px 5px ;
    margin-top:50px ;
}
#submit {
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    
}
#head span{
    display: inline;
    background-size: contain;
    position:absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
#head span:nth-child(1){
    background:url(brightness-two.png) no-repeat;
    background-size:contain;
}
#head span:nth-child(2){
    margin-left: 45px;
    background: url(brightness.png) no-repeat;
    background-size: cover;
}

 #hint{
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: 85%;
    height: 60px;
    color: var(--text-color);
    width: 10%;
    border-radius: 50%;
    background-color: var(--button-color);
    box-shadow: var(--box-shadow);
    font-weight: 500;
 }
 #hint:hover{
    box-shadow:var(--hover-box-shadow);
 }
button  a {
    text-decoration: none;
}
 button:hover{
   cursor: pointer;
    box-shadow: var(--hover-box-shadow);
    transform: translateY(-1px);
    }
    /* input[type="radio"]{
        margin: 0;
        opacity: 0;
        width: 0;
    } */
    label[for="A"], label[for="B"], label[for="C"], label[for="D"]{
        line-height: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        margin: 8px;
        padding-left: 1px;
    }
    input:checked + label[for="A"],input:checked + label[for="B"],input:checked + label[for="C"],
input:checked + label[for="D"] {
    color: crimson;
} 
 @media screen and (max-width: 500px){
    p{
        font-size: 13px;
        height: 15px;
    }
    form{
        font-size: 12px;
        height: 130px; 

    }
    #hint{
        margin-left: 78%;
        font-size:8px;
        font-weight: 900;
        width: 18%;
       max-height: 50px;
        border-radius: 4%;
        padding: 0 ;
        
    }
 }
    












