body{
    background-color: #333;
    background-position: 10px 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    flex-wrap: wrap;

}
#quiz{  
    display: flex;
    height: 100%;
    width: 95%;
    min-width: 250px;
    min-height: 550px;
    flex-direction: column ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p { 
    flex-grow: 3;
    display: inline-block;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
}
form {
    flex-grow: 1;
    min-height: 150px;
    height: 200px;
    width: 70%;
    font-size: 18px;
    text-align: left;
    box-shadow: 8px 8px 40px -19px #fff;
    background-color: rgb(22, 21, 21);
    border-radius: 3%;
    padding: 10px 20px;
}

button {
    flex-grow: 2;
    max-height: 100px;
    width: 45%;
    max-width: 300px;
    display: block;
    text-align: center;
    background-color:#fff;
    border: none;
    border-radius: 2%;
    padding: 10px 10px 10px 10px ;
    border-radius: 3%;
}
button h1 {
   color:#333;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    
}
 #hint{
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: 85%;
    height: 30px;
    width: 16%;
    border-radius: 50%;
    box-shadow: 8px 8px 40px -19px crimson;
    font-weight: 500;
 }
 #hint:hover{
    box-shadow: 8px 8px 40px -11px crimson;
 }
button  a {
    text-decoration: none;
}
 button:hover{
   cursor: pointer;
    background-color: #d4caca;
    transform: translateY(-1px);
    }
    input[type="radio"]{
        margin: 0;
        opacity: 0;
        width: 0;
    }
    label[for="A"], label[for="B"], label[for="C"], label[for="D"]{
        background: url(/img/checks.png) no-repeat;
        background-position: 0 -31px;
        line-height: 20px;
        height: 20px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin: 8px;
        padding-left: 20px;
    }
    input:checked + label[for="A"],input:checked + label[for="B"],input:checked + label[for="C"],
input:checked + label[for="D"] {
    background-position: 0 -67px;
    color: crimson;
}
 @media screen and (max-width: 500px){
    p{
        font-size: 13px;
        height: 15px;
    }
    form{
        font-size: 12px;
        height: 130px; 

    }
    #hint{
        margin-left: 78%;
        font-size:8px;
        font-weight: 900;
        width: 13%;
       max-height: 50px;
        border-radius: 4%;
        padding: 0 ;
        
    }
 }
    












